.has-same-height .card {
  height: 25rem;
  overflow: auto;
}

/* .card-content h3 {
  text-align: center;
} */

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}
/* 
.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
} */

/* .custom-tags {
  text-align: center !important;
  display: block;
} */

.portfolio-container .card {
  margin-bottom: 2rem;
}

.section-heading {
  /* margin-top: 1em; */
  margin-bottom: 1rem;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-picture {
  /* transform: rotate(-90deg); */
  max-height: 400px;
  width: auto;
  margin: 3rem;
}

.image img{
  /* overflow: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pygame-img {
  max-height: 300px;
  width: auto;
  
}